<div class="row mx-5 justify-content-center event-header text-center">
    <div class="col-1">
        {% if data.T1 %}
            {% if data.T1[0].Img %}
                <img title="T1[0].Img" src="{{url_config['static-data-base-url']}}/low/{{data.T1[0].Img}}">
            {% else %}
                <img title="T1[0].Img" src="/ui/img/no_badge.png">
            {% endif %}
        {% endif %}
    </div>
    <div class="col-3 d-flex py-4 justify-content-around align-middle">
        {% for T in data.T1 %}
            <span title="T1[].ID"><small class="text-muted">({{T.ID}})</small></span>
            <strong><span class="h4" title="T1[].Nm"> {{T.Nm}}</span></strong></br>
        {% endfor %}
    </div>
    <div class="col-1 d-flex py-4 justify-content-around align-middle">
        <span class="h3" title="Tr1">{{data.Tr1}}</span>
        <span> - </span>
        <span class="h3" title="Tr2">{{data.Tr2}}</span>
    </div>
    <div class="col-3 d-flex py-4 justify-content-around align-middle">
        {% for T in data.T2 %}
            <strong><span class="h4" title="T2[].Nm"> {{T.Nm}}</span></strong>
            <span title="T2[].ID"><small class="text-muted">({{T.ID}})</small></span></br>
        {% endfor %}
    </div>
    <div class="col-1">
        {% if data.T1 %}
            {% if data.T2[0].Img %}
                <img title="T2[0].Img" src="{{url_config['static-data-base-url']}}/low/{{data.T2[0].Img}}">
            {% else %}
                <img title="T2[0].Img" src="/ui/img/no_badge.png">
            {% endif %}
        {% endif %}
    </div>
</div>