<div class="shadow rounded py-2">
    <div class="row">
        <div class="col h4 mx-3 p-2 event-element-header"><h3>Venue</h3></div>
    </div>
        {% if data.VCity %}
            <div title="VCity" class="row mx-5 justify-content-between">
                <span class="col-6 text-center">Venue city:</span>
                <span class="col-6 text-center">{{ data.VCity }}</span>
            </div>
        {% endif %}
        {% if data.VCnm %}
            <div title="VCnm" class="row mx-5 justify-content-between">
                <span class="col-6 text-center">Venue country:</span>
                <span class="col-6 text-center">{{ data.VCnm }}</span>
            </div>
        {% endif %}
        {% if data.Vnm %}
            <div title="Vnm" class="row mx-5 justify-content-between">
                <span class="col-6 text-center">Venue name:</span>
                <span class="col-6 text-center">{{ data.Vnm }}</span>
            </div>
        {% endif %}
        {% if data.Vsp %}
            <div title="Vsp" class="row mx-5 justify-content-between">
                <span class="col-6 text-center">Venue spectators:</span>
                <span class="col-6 text-center">{{ data.Vsp }}</span>
            </div>
        {% endif %}
</div>