{% include '/public-api/event-data-tpl-header-stage.html' %}
<div class="row m-2 justify-content-center event-header">
    <div>
        <b>
            <span data-type='startdatetime' data-value="{{data.Esd}}"></span>,
            <span title="Eps">{{data.Eps}}</span>
        </b>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <div class="shadow rounded my-2">
            <div class="row">
                <div class="col h4 mx-3 p-2 event-element-header"><h3>Race options</h3></div>
            </div>
            <div title="RaDis" class="row mx-5 justify-content-between">
                <span class="col-6 text-right">Distance:</span>
                <span class="col-6 text-left">{{data.RaDis}}</span>
            </div>
            <div title="RaGa" class="row mx-5 justify-content-between">
                <span class="col-6 text-right">Gait:</span>
                <span class="col-6 text-left">{{data.RaGa}}</span>
            </div>
            <div title="TrCon" class="row mx-5 justify-content-between">
                <span class="col-6 text-right">Track condition:</span>
                <span class="col-6 text-left">{{data.TrCon}}</span>
            </div>
            <div class="row mx-5 justify-content-between">
                <span class="col-6 text-right">Runners:</span>
                <span class="col-6 text-left">{{data.Ps|length}}</span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="shadow rounded my-2">
            <div class="row">
                <div class="col h4 mx-3 p-2 event-element-header"><h3>Race participants</h3></div>
            </div>
            {% for el in data.Ps %}
                <div class="row p-2">
                    <div class="col-1 d-flex justify-content-center" title="Ps[].FiPos">
                        <b>#{{el.FiPos}}</b>
                    </div>
                    <div class="col-6">
                        <div>
                            <span title="Ps[].Nm">{{el.Nm}}</span>
                            <span class="text-muted" title="Ps[].ID">({{el.ID}})</span>
                        </div>
                        <div title="Ps[].HoSt">
                            Horse status: {{el.HoSt}}
                        </div>
                    </div>
                    <div class="col-5">
                        <div title="Ps[].Jo">J: {{el.Jo}}</div>
                        <div title="Ps[].Tr">T: {{el.Tr}}</div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    window.api_data = {{data|tojson}};
    window.api_config = {{url_config|tojson}};
</script>