{% include '/public-api/chunks/event-data-tpl-header-stage.html' %}
{% include '/public-api/chunks/event-data-tpl-header-main-data.html' %}
{% include '/public-api/chunks/event-data-tpl-header-status.html' %}

<div class="row mt-3 mx-2">
    <div class="col">
        <div class="shadow rounded py-2">
<!--            <span>League Table / LineUps / Substitutions</span>-->
            <div class="row">
                <div class="col h4 mx-3 p-2 event-element-header"><h3>Tmp</h3></div>
            </div>
        </div>
    </div>
    <div class="col">
        {% include '/public-api/chunks/event-data-tpl-scores.html' %}
    </div>
    <div class="col">
        {% include '/public-api/chunks/event-data-tpl-commentaries.html' %}
    </div>
</div>

<script>
    window.api_data = {{data|tojson}};
    window.api_config = {{url_config|tojson}};
</script>